.carousel-image-container {
    position: relative;
    width: 100%;
    height: 650px;
}

.carousel-image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1;
}

.carousel-image {
    width: 100%;
    height: 650px; /* Adjust as needed */
    object-fit: cover;
    position: relative;
    z-index: 0;
}
